<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Beth Dimonti</title>
	<link rel="icon" type="image/x-icon" href="/static/code.ico">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/2f6b354f56.js" crossorigin="anonymous"></script>

	<link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
	<!-- Header -->
	<nav class="header">
		<div class="logo">
			<a href="index.html">Beth.</a>
		</div>
		<ul class="nav-items">
			<li><a href="#top">Home</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#projects">Projects</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>
		<div class="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</nav>
	
	<!-- Home -->
	<div id="home">
		<div class="home title">
			<p>Hi, I'm Lizbeth Dimonti</p>
			<hr>
		</div>
		<div class="description">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
	</div>

	<!-- About -->
	<div id="about">
		<div class="about title">
			<p>About Me</p>
			<hr>
		</div>
		<div class="description">
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		</div>
	</div>

	<!-- Projects -->
	<div id="projects">
		<div class="projects-title title">
			<p>My Portfolio Projects</p>
			<hr>
		</div>
		<div class="projects-container">
			<div class="projects-item">
				<a href="project.html">
					<img src="static/img/project1.jpg">
					<div class="project-desc">
						<p class="project-desc head">Title</p>
						<p class="project-desc desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div>
				</a>
			</div>
			<div class="projects-item">
				<a href="project.html">
					<img src="static/img/project2.jpg">
					<div class="project-desc">
						<p class="project-desc head">Title</p>
						<p class="project-desc desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div>
				</a>
			</div>
			<div class="projects-item">
				<a href="project.html">
					<img src="static/img/project3.jpg">
					<div class="project-desc">
						<p class="project-desc head">Title</p>
						<p class="project-desc desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div>
				</a>
			</div>
			<div class="projects-item">
				<a href="project.html">
					<img src="static/img/project4.jpg">
					<div class="project-desc">
						<p class="project-desc head">Title</p>
						<p class="project-desc desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div>
				</a>
			</div>
			<div class="projects-item">
				<a href="project.html">
					<img src="static/img/project5.jpg">
					<div class="project-desc">
						<p class="project-desc head">Title</p>
						<p class="project-desc desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div>
				</a>
			</div>
			<div class="projects-item">
				<a href="project.html">
					<img src="static/img/project6.jpg">
					<div class="project-desc">
						<p class="project-desc head">Title</p>
						<p class="project-desc desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div>
				</a>
			</div>
		</div>
	</div>

	<!-- Contact -->
	<div id="contact">
		<div class="contact-title title">
			<p>Let's get in touch!</p>
			<hr>
		</div>
		<form action="submit_form" method="POST">
			<div class="form-group">
				<input type="text" name="name" placeholder="Name" required>
			</div>
			<div class="form-group">
				<input type="email" name="email" placeholder="Email Address" required>
			</div>
			<div class="form-group message">
				<textarea name="message" placeholder="Message" required></textarea>
			</div>
			<button class="submit-btn" type="submit">SUBMIT</button>
		</form>
		<div class="social-handles">
			<a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
			<a href="https://www.linkedin.com/in/lizbethdimonti/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
			<a href="https://github.com/lizbethdimonti/" target="_blank"><i class="fa-brands fa-github"></i></a>
		</div>
	</div>
	<footer>&copy 2023 Lizbeth Dimonti. All Rights Reserved.</footer>

	<script type="text/javascript" src="static/script.js"></script>
</html>