<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Beth Dimonti</title>
	<link rel="icon" type="image/x-icon" href="/static/code.ico">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap" rel="stylesheet">
	<script src="https://kit.fontawesome.com/2f6b354f56.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="static/style.css">
	<link rel="stylesheet" type="text/css" href="static/project.css">
</head>
<body>
	<!-- Header -->
	<nav class="header">
		<div class="logo">
			<a href="index.html">Beth.</a>
		</div>
		<ul class="nav-items">
			<li><a href="index.html#top">Home</a></li>
			<li><a href="index.html#about">About</a></li>
			<li><a href="index.html#projects">Projects</a></li>
			<li><a href="index.html#contact">Contact</a></li>
		</ul>
		<div class="hamburger">
			<span class="bar"></span>
			<span class="bar"></span>
			<span class="bar"></span>
		</div>
	</nav>

	<!-- Home -->
	<div id="home">
		<div class="home title">
			<p>Project title</p>
			<hr>
		</div>
		<div class="description">
			<p>Unfortunately, we don't have a live demo for this project at the moment. Take a look at the source code instead.</p>
		</div>
		<div class="project-btn-wrapper">
			<a href="project.html">Project</a>
			<a href="https://github.com/lizbethdimonti" target="_blank">Source Code</a>
		</div>
	</div>

	<!-- Footer -->
	<footer>
		<div class="social-handles">
			<a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
			<a href="https://www.linkedin.com/in/lizbethdimonti/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
			<a href="https://github.com/lizbethdimonti/" target="_blank"><i class="fa-brands fa-github"></i></a>
		</div>
		<div class="copyright">
			&copy 2023 Lizbeth Dimonti. All Rights Reserved.
		</div>
	</footer>

	<script type="text/javascript" src="static/script.js"></script>
</html>